.wrapper-content{
	margin-top: 76px;
	overflow: hidden;
}
/*left-menu被包裹在wrapper-left中，宽度为180px*/
.wrapper .wrapper-left .left-menu{
	width: 165px;
	height: 26px;
	line-height: 26px;
	padding-left:15px;
	border-top: 2px solid #ebebeb;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.wrapper .wrapper-left .nav-menu{
	height: 30px;
	line-height: 30px;
	border: none;
}
.wrapper .wrapper-left .nav-menu span,
.wrapper .wrapper-left .nav-menu em{
	color: #999999;
}
.wrapper .wrapper-left .left-menu span{
	font-size: 12pt;
	letter-spacing: 2px;
	vertical-align: 1pt;
}
.wrapper .wrapper-left .left-menu em{
	font-size: 8pt;
	text-transform: capitalize;/*首字母大写*/
	vertical-align: 0pt;
}
.wrapper .wrapper-left ul li.left-menu:last-child{
	border-bottom: 2px solid #ebebeb;
}
.wrapper .wrapper-left .left-menu.active{
	background-color: #333333;
	border-radius: 3px;
	border: none;
}
.wrapper .wrapper-left .left-menu:hover a span,
.wrapper .wrapper-left .left-menu:hover a em{
	color: #999;
}
.wrapper .wrapper-left .left-menu.active:hover a span,
.wrapper .wrapper-left .left-menu.active:hover a em{
	color: #FFFFFF;
}
.wrapper .wrapper-left .left-menu.active span,
.wrapper .wrapper-left .left-menu.active em{
	color: white;
}
.wrapper .wrapper-left .left-menu.active+li{
	border: none;
}
/*页面右边内容区域*/
.wrapper .wrapper-right p{
	text-align: center;
	font-size: 10pt;
	margin-top: 7px;
	line-height: 16pt;
}
.wrapper .wrapper-right p.left{
	text-align: left;
}
.wrapper .wrapper-right p.title{
	font-size: 14pt;
	font-weight: 500;
	letter-spacing: 1px;
	margin-top: 0;
}
.wrapper .wrapper-right p.left span{
	font-size: 15pt;
	letter-spacing: 2px;
	font-weight: 600;
}
.wrapper .wrapper-right p.left em{
	font-size: 8pt;
	margin-left: 6px;
	font-weight: 600;
	text-transform: capitalize;
}
.wrapper .wrapper-right .margin-top10{
	margin-top: 10px;
}
.wrapper .wrapper-right .margin-top16{
	margin-top: 16px;
}
.wrapper .wrapper-right .margin-top20{
	margin-top: 20px;
}
.wrapper .wrapper-right .margin-top22{
	margin-top: 22px;
}
.wrapper .wrapper-right .margin-top30{
	margin-top: 30px;
}
.wrapper .wrapper-right .margin-bottom18{
	margin-bottom: 18px;
}
.wrapper .wrapper-right .margin-bottom20{
	margin-bottom: 20px;
}
.wrapper .wrapper-right .margin-bottom64{
	margin-bottom: 64px;
}
.wrapper .wrapper-right>.img{
	width: 770px;
	height: 434px;
	background-color: #EBEBEB;
}
.wrapper .wrapper-right .wrapper-right-content .img{
	width: 508px;
	height: 286px;
	background-color: #EBEBEB;
}
.wrapper .wrapper-right hr{
	border: 2px solid #EBEBEB;
}
